﻿body
{
	font-family:Calibri;
}
.sitesList
{
	text-align: left;
}
.site
{
	font-family: Verdana;
	font-size: small;
	color:blue;
}

.site:hover
{
	color: red;
}

.panelGW
{
	background-image: url(../img/header.jpg);
	background-position: center;
	background-repeat: repeat-x;
	text-align: left;
	color: Black;
	padding: 0px 2px 6px 4px;
	font-family:Verdana;
	font-size:smaller;
	font-weight:bold;
}

.panel
{
	text-align: left;
	color: Black;
	padding: 2px 2px 2px 4px;
}

.loginInfo
{
	font-family:Verdana;
	font-size:xx-small;
	color:Maroon;
}

.login
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 20px;
	border: 0px;
	background-color: #FFFFFF;
	font-size: smaller;
	cursor: pointer;
	text-align: left;
	text-decoration: underline;
	overflow: visible;
}
.login:hover
{
	color: Red;
}
.btnAdd
{
	border: 1px solid white;
	background-color: #D0D0D0;
	padding-left: 6px;
	padding-right: 6px;
	cursor: pointer;
}

.logo
{
	font-size: xx-large;
}

.pageTitle
{
	font-size: large;
}

.gw
{
	font-family: Arial, Sans-Serif;
	font-size: small;
	table-layout: auto;
	border-collapse: collapse;
	border:0px;
}

.gw td
{
	padding: 0px 2px 0px 2px;
	text-align: left;
}

.gw th
{
	padding: 0px 10px 0px 10px;
	white-space:nowrap;	
}

.gwHeader
{
	/*background-image: url(../img/header.jpg);
	background-position: center;
	background-repeat: repeat-x;*/
	background-color:#76A7D3;
	height: 20px;
}

.gwItem
{
	background-color: #F2F2F2;
}

.gwAltItem
{
	background-color: #E0E0E0;
}

.gwSelItem
{
	background-color: #FFFFA3;
}
