﻿.level01
{	
	font-size: small;
	color: Black;
	margin-left:10px;	
}

.level02
{
	padding-left: 4px;	
	border: 1px solid green;
	border-top:0px;
	font-size: small;
	color: Black;
	width: 200px;
}
.level02:hover
{
	color: green;
}
.level03
{
	border: 1px solid blue;
}

.hoverItem
{
	background: Black;
	color: White;
}
.menu
{
	border: 1px solid #A8e61d;
}
